@model Models.Faculty
@{
    ViewBag.Title = "Удаление факультета";
}

<h2>Удаление факультета</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.FacultyName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FacultyName, new { htmlAttributes = new {@readonly = "readonly", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FacultyName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Удалить" class="btn btn-primary btn-danger" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Назад", "Faculties")
</div>