@model Models.RenameFaculty
@{
    ViewBag.Title = "Редактирование факультета";
}

<h2>Редактирование факультета</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <div class="form-group">
            @Html.LabelFor(model => model.OldFacultyName, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.OldFacultyName, new {htmlAttributes = new {@readonly = "readonly", @class = "form-control"}})
                @Html.ValidationMessageFor(model => model.OldFacultyName, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.FacultyName, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.FacultyName, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.FacultyName, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Создать" class="btn btn-primary"/>
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Назад", "Faculties")
</div>
