@model Models.RenamedSpeciality
@{
    ViewBag.Title = "EditSpeciality";
}

<h2>Редактирование специальности на факультете "@Model.FacultyName"</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.FacultyId)
    ;
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <div class="form-group">
            @Html.LabelFor(model => model.FacultyName, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.FacultyName, new {htmlAttributes = new {@readonly = "readonly", @class = "form-control"}})
                @Html.ValidationMessageFor(model => model.FacultyName, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.OldSpecialityName, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.OldSpecialityName, new {htmlAttributes = new {@readonly = "readonly", @class = "form-control"}})
                @Html.ValidationMessageFor(model => model.OldSpecialityName, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.SpecialityName, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.SpecialityName, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.SpecialityName, "", new {@class = "text-danger"})
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Изменить" class="btn btn-primary"/>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Назад", "Specialitys", new {faculty_id = Model.FacultyId})
</div>