@model List<Models.Speciality>
@{
    ViewBag.Title = "Specialitis";
}
<br/>
<h3>Специальности @ViewBag.faculty_name</h3>
<h4>Специальностей (@Model.Count):</h4>
<table id="main-table">
    <thead>
    <tr>
        <th>Специальность</th>
        <th></th>
    </tr>
    </thead>
    <tbody>

    @foreach (var speciality in Model)
    {
        <tr>
            <td>@speciality.SpecialityName</td>
            <td class="clicable" onclick="this.getElementsByTagName('a')[0].click()">
                @Html.ActionLink("Подгруппы", "Subgroups", new {speciality_id = speciality.Id})
            </td>
        </tr>
    }

    </tbody>
</table>
<div>
    @Html.ActionLink("Назад", "Index")
</div>
<script type="text/javascript">
        document.onload=new function () {
            $('#main-table').DataTable(russian_lang);
        };
    </script>